#formulario {
    background-color: rgb(224, 222, 222);
    color: rgb(12, 11, 11);
    font-family: 'Trebuchet MS', sans-serif;
    width: 50%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
#formulario input,
#formulario textarea {
    width: 50%;
    border: none;
    border-radius: 5px;
}
#presentacion,
#galeria {
    background-color: rgb(224, 222, 222);
    color: black;
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
}
#presentacion h1 {
    color: rgb(155, 9, 9);
}
#presentacion h3 {
    color: rgb(155, 9, 9);
    text-decoration: underline;
}
#galeria h1 {
    text-decoration: underline;
}
#fotis {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 30px;
}
#fotis img {
    width: 320px;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
}
#navbar {
    background-color: grey;
    color: rgb(155, 9, 9);
    font-family: 'Trebuchet MS', sans-serif;
}
#pie {
    background-color: grey;
    color: rgb(155, 9, 9);
    text-align: center;
    padding: 10px;
    font-family: 'Trebuchet MS', sans-serif;
    border-radius: 5px;
}